---
layout: layout_page.njk
title: Curso Propedéutico
description: null
ogImg: null
url: curso-propedeutico
---

{% include "header.njk" %}

{% include "menu_carpeta_11.njk" %}

<main id="main" class="main">
  <div class="container">
    <h2 class="display-6 my-5 p-3 text-center fw-bold">{{ title }}</h2>
    <section class="row my-5 p-3">
      <article class="col-10 offset-1 fs-5">
        <p>
          <b>Objetivo:</b> Identificar las habilidades y capacidades de análisis, síntesis, abstracción, representación, cálculo, geometrización, motricidad fina, pensamientos creativo y divergente, entre otras, que poseen los estudiantes de nuevo ingreso a la Licenciatura en Diseño Gráfico y Digital, a través de diversas actividades estructuradas y aplicadas durante un lapso de tiempo, previo al inicio del semestre, lo que permite observar e identificar aquellas competencias que necesitan construirse y reforzarse en la persona, para homologar sus destrezas y fortalecer los aprendizajes de diseño durante su formación profesional, que se nombran en los planes de estudios del programa académico.
        </p>
        <p>
          <b>Descripción:</b> El curso propedéutico que se realiza en la licenciatura en diseño gráfico y digital ha tenido como función principal, homologar los conocimientos de los estudiantes de nuevo ingreso en dos sentidos, el primero, en que tengan claridad sobre la ruta académica que está trazada para cada semestre, y que son definidas como actividades que establece la institución, la Facultad y el programa académico, y que por mencionar algunos, se presentan, los programas de formación, actividades deportivas, servicio social, lengua extranjera, gestión de asignaturas del área de desarrollo humano y profesional, etc., un segundo momento se aborda la inducción a las asignaturas propias de diseño, principalmente el área digital, el taller de diseño, el dibujo y las habilidades manuales, que en un tiempo de algunos días, no permite identificar el nivel en el que se encuentran los estudiantes con respecto a sus capacidades para el diseño.
        </p>
        <p>
          Como proyecto prospectivo, la coordinación del programa académico de diseño gráfico y digital, tiene como desafío estructurar un nuevo paradigma para el diseño del curso propedéutico, que en un cuatro semanas, tenga la posibilidad de diagnosticar, implementar estrategias para mejorar las áreas de menor fortaleza en los estudiantes, como las mencionadas con anterioridad, y evaluar desde esta perspectiva, las capacidades adquiridas al inicio del semestre, así como, avanzar en los contenidos del plan de estudios.
        </p>
        <p class="text-center">"En proceso de implementación"</p>
      </article>
    </section>
    <section class="row g-0 my-lightbox-toggle">
      {% for i in range(1, 14) %}
        {% set col = 6 %}
        {% if i % 3 == 0 %}
          {% set col = 12 %}
        {% endif %}
        <a href="/img/11/p_{{i}}.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-6 col-md-{{col}}">
          <img src="/img/11/p_{{i}}.jpg" class="img-fluid w-100">
        </a>
      {% endfor %}
    </section>
  </div>
</main>
