---
layout: layout_page.njk
title: Evaluación de Nivel
description: null
ogImg: null
url: evaluacion-nivel
---

{% include "header.njk" %}

{% include "menu_carpeta_11.njk" %}

<main id="main" class="main">
  <div class="container">
    <h2 class="display-6 my-5 p-3 text-center fw-bold">{{ title }}</h2>
    <section class="row my-5 p-3">
      <article class="col-10 offset-1 fs-5">
        <p>
          <b>Objetivo:</b>  Implementar una propuesta de evaluación teórico-práctica de nivel al término del 4to semestre, entre cierre del nivel introductorio e inicio del nivel de desarrollo, a través de tres momentos de evaluación, examen escrito, portafolio y presentación de proyecto escolar ante sínodo, propuesta de evaluación que nos permitirá en el sentido estricto dar seguimiento al Plan de Estudios, detectar en la currícula, áreas de oportunidad, reconocer la apropiación de los aprendizajes, de la propuesta metodológica, así como los procesos de cierre cognitivo y procesos metacognitivos de los estudiantes.
        </p>
        <p>
          <b>Descripción:</b> La Evaluación de Nivel en 4to. semestre desde la visión del equipo coordinador de la licenciatura es una estrategia pertinente y necesaria de corte de caja, de lo logrado a nivel de proceso de enseñanza-aprendizaje por estudiantes y maestros, es una vitrina para reconocer los aciertos y replantear las temas de mejora, pero sobre todo poder evaluar los aprendizajes hechos conocimiento, la coherencia de lo propuesto como programa con lo alcanzado como comunidad educativa, en la que todos los protagonistas de este proceso podremos identificar áreas de oportunidad, es un momento privilegiado para priorizar el cierre cognitivo de los alumnos y proyecciones metacognitivas, es un encontrar la fortalezas que nos permiten continuar con nuestra propuesta formativa de calidad.
        </p>
        <p class="text-center">"En proceso de implementación"</p>
      </article>
    </section>
    <section class="ratio ratio-16x9">
      <iframe src="/img/11/evaluacion-nivel.pdf" allowfullscreen></iframe>
    </section>
  </div>
</main>