---
layout: layout_page.njk
title: Universidad La Salle
description: Expo Digital Licenciatura en Diseño Gráfico y Digital
ogImg: null
url: null
---

{% include "header_expo.njk" %}
{% include "menu_expo.njk" %}
