---
layout: layout_page.njk
title: Historia de la Comunicación Gráfica
description: null
ogImg: null
url: historia-comunicacion-grafica
---

{% include "header_expo.njk" %}

{% include "menu_expo.njk" %}

{% set materia = site.menuExpo[0].materias[0] %}

<main id="main" class="main">
  <div class="container">
    <h2 class="display-6 my-5 p-3 text-center fw-bold">{{ title }}</h2>
    <section class="row my-5 p-3">
      <article class="col-10 offset-1 fs-5">
        <ul>
          <li><b>Semestre:</b> {{ materia.semestre }}</li>
          <li><b>Nivel:</b> {{ materia.nivel }}</li>
          <li><b>Área de Conocimiento:</b> {{ materia.area }}</li>
          <li><b>Relación del trabajo con la malla curricular del Programa Académico:</b> {{ materia.curricula }}</li>
        </ul>
        <img class="img-fluid my-5" src="{{ materia.poster }}" alt="{{ title }}">
       <h3 class="display-5 my-5 p-3 text-center fw-bold">Proyectos</h3>
        <aside class="">
          {% for el in materia.proyectos %}
            <div class="card mx-auto my-5" style="max-width: 960px">
              <div class="card-header">
                <h4 class="card-title fs-3">{{ el.nombre }}</h4>
              </div>
              <div class="card-body">
                <p class="card-text"><b>Objetivo:</b> {{ el.objetivo }}</p>
                <p class="card-text"><b>Descripción:</b> {{ el.descripcion }}</p>
                <p class="card-text"><b>Entregable:</b> {{ el.entregable }}</p>
              </div>
            </div>
          {% endfor %}
        </aside>
        <div class="text-center">
          <a href="{{ materia.docs }}" class="btn-gradient my-5 display-4" target="_blank">Ver Proyectos <i class="bi bi-folder-symlink-fill"></i></a>
        </div>
      </article>
    </section>
  </div>
</main>