---
layout: layout_page.njk
title: Universidad La Salle
description: Mejora Continua 2017-2023 Licenciatura en Diseño Gráfico y Digital
ogImg: null
url: null
---

{% include "header.njk" %}

{% include "menu_carpeta_11.njk" %}

<main id="main" class="main">
  <div class="container">
    {% for el in site.menuCarpeta11 %}
      <section class="row my-5 p-3 card-prestigio align-items-lg-center">
        <article class="col-12 col-lg-8">
          <div class="d-flex align-items-center my-3">
            <span class="d-block rounded-circle p-3 me-3 fw-bold bg-red-salle text-white">{{ el.numero }}</span>
            <h2 class="m-0">{{ el.nombre | safe }}</h2>
          </div>
          {{ el.intro | safe }}
          <a href="{{ el.slug }}" class="mb-5">Ver más <i class="bi bi-chevron-right"></i></a>
        </article>
        <article class="col-12 col-lg-4">
          <img class="img-fluid" src="{{ el.portada }}" alt="{{ el.nombre }}">
        </article> 
      </section>
    {% endfor %}
  </div>
</main>



