---
layout: layout_page.njk
title: Medalla Hermano Miguel Febres Cordero
description: null
ogImg: null
url: medalla-febres-cordero
---

{% include "header.njk" %}

{% include "menu_carpeta_11.njk" %}

<main id="main" class="main">
  <div class="container">
    <h2 class="display-6 my-5 p-3 text-center fw-bold">{{ title }}</h2>
    <section class="row my-5 p-3">
      <article class="col-10 offset-1 fs-5">
        <p>
          <b>Objetivo:</b> Reconocer a los estudiantes de pregrado y posgrado de la Universidad La Salle a través del otorgamiento de la medalla Hermano Miguel Febres Cordero durante la ceremonia de Reconocimiento al Mérito Universitario para distinguirlos por haber obtenido el más alto promedio de su generación.
        </p>
        <p>
          <b>Descripción:</b> Este premio es otorgado al alumno que haya obtenido al término de sus estudios de pregrado, licenciatura o posgrado el más alto promedio de su generación (Universidad La Salle México, s.f.).
        </p>
      </article>
    </section>
    <section class="row g-0 my-lightbox-toggle">
      {% for i in range(1, 2) %}
        {% set col = 6 %}
        {% if i % 3 == 0 %}
          {% set col = 12 %}
        {% endif %}
        <a href="/img/11/medalla_{{i}}.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-12">
          <img src="/img/11/medalla_{{i}}.jpg" class="img-fluid w-100">
        </a>
      {% endfor %}
    </section>
  </div>
</main>