<header class="header">
  <div class="header-container">
    <aside class="container-lg">
      <section class="row align-items-lg-center min-vh-100 text-center py-5">
        <article class="col-12 col-md-6 order-md-1 my-3">
          <img class="img-fluid" src="/img/dgd.png" alt="Diseño Gráfico y Digital">
        </article>
        <article class="col-12 col-md-6 my-3">
            <img src="/img/logo-expo.png" alt="60 Aniversario La Salle" class="img-fluid w-50 bg-white my-5">
            <h1 class="display-3"><i>Indivisa Manent</i></h1>
            <a href="/mejora-continua" class="btn-gradient fs-3" target="_blank">Mejora Continua <i class="bi bi-caret-right-fill"></i></a>
            <br><br>  
            <a href="/expo-digital" class="btn-gradient fs-3" target="_blank">Expo Digital <i class="bi bi-caret-right-fill"></i></a>
        </article>
      </section>
    </aside>
  </div>
</header>