<header class="header">
  <div class="header-container">
    <aside class="container-lg">
      <section class="row align-items-lg-center min-vh-100 text-center py-5">
        <article class="col-12 col-md-6 order-md-1 my-3">
          <img class="img-fluid" src="/img/dgd.png" alt="Diseño Gráfico y Digital">
        </article>
        <article class="col-12 col-md-6 my-3">
            <img src="/img/logo-la-salle-60.png" alt="60 Aniversario La Salle" class="img-fluid w-50 bg-white my-5">
            <h1 class="display-3"><i>Indivisa Manent</i></h1>
            <h2 class="display-6">Mejora Continua 2017-2023</h2>
            <a href="#menu" class="btn btn-lg btn-danger my-5 pulse d-none d-md-inline-block" style="--bs-btn-bg: var(--red-salle-color)">Ver más</a>
        </article>
      </section>
    </aside>
  </div>
</header>